@import 'https://cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.7.0/lxgwwenkaiscreen.min.css';

html {
  height: 100%;
  background-color: #f4f4f5;
}

html.dark {
  background-color: #000 !important;
}

* {
  font-family: LXGW WenKai Screen, sans-serif;
}

.md-content a:any-link {
  color: rgb(156, 163, 175);
}
